//
   Created by Esleider A Tafur on 15/06/2016.

extends ../template
block content
    #windowRoles.center.color-back(ng-controller='RolesController',layout-padding, layout="column", layout-align="center center", ng-cloak)
        md-toolbar.md-tall.color-back-second.width-70
            h1.md-toolbar-tools.color-back Roles
        // panel de filtrado
        md-toolbar.color-back-second.md-scroll-shrink.width-70(layout="row",layout-pading, layout-sm="colunm")
            div.width-70
                md-input-container.md-block
                    label Filtrar
                    input(type='text', autofocus, ng-model='searchText')
                    md-icon.md-primary search
            div
                section(layout='row', layout-sm='column', layout-align='center center', layout-wrap)
                    md-button.md-fab.color-back(layout-align='center center', ng-click='showCreate($event)')
                        md-tooltip(md-direction='right') Nuevo Rol
                        md-icon.md-light.md-48 add
        md-content.width-70.height-70(layout-pading)
            md-list(ng-repeat='itemrol in roles.lista | filter:searchText')
                md-list-item.md-3-line.md-list.md-list-user(ng-dblclick='showEdit($event, itemrol)')
                    .md-list-item-text
                        md-tooltip(md-direction='top') Presione doble click para editar
                        h3 {{itemrol.nombreRol}}
                        h4 {{itemrol.pago}}
                    section(layout='row', layout-sm='column', layout-align='center center', layout-wrap)
                        md-button.md-fab.BtnWrang.md-secondary(layout-align='center center',ng-click='showConfirm($event)')
                            md-tooltip(md-direction='left') Eliminar Rol
                            md-icon.md-light.md-48 delete sweep