//
   Created by Ricardo on 04/06/2016.

md-dialog(layout="column", flex-xs="100",flex-gt-sm="50", style="height: 85%;")
    md-toolbar.color-back.md-toolbar-tools
        h2 Editar Almuerzo
        span(flex)
        md-button.md-icon-button(ng-click="cancel()")
            md-icon close

    form.widht-all.over-scroll-y(name='almuerzosForm', layout-padding)
        md-input-container
            label Tipo de almuerzo
            md-select(ng-model='almuerzo.idTipoAlmuerzo')
                md-option(ng-value='tipo.idTipoAlmuerzo', ng-repeat='tipo in tipos') {{ tipo.nombreTipoAlmuerzo }}

        md-input-container.md-block
            label Acompañamiento
            input(name='acompanamiento', ng-model='almuerzo.acompanamiento', md-maxlength='100', required, md-no-asterisk, ng-pattern='/^[A-Za-z0-9]/')
            div(ng-messages='almuerzosForm.acompanamiento.$error')
                div(ng-message='required')
                    | Campo requerido.
                div(ng-message='md-maxlength')
                    | Máximo 100 Caracteres.
                div(ng-message='pattern')
                    | Solo caracteres Alfanuméricos.

        md-input-container.md-block
            label Precio
            input(name='precio', ng-model='almuerzo.precio',required, type='number', step="0.01", min='50')
            div(ng-messages='almuerzosForm.precio.$error', multiple)
                div(ng-message='required')
                    | Campo Requerido
                div(ng-message='min')
                    | Ingrese un valor mayor a 50 pesos.

        md-input-container.md-block
            label Descripción
            textarea(name='descripcion', ng-model='almuerzo.descripcion', md-maxlength ='200', md-no-asterisk, md-no-autogrow)
            div(ng-messages='almuerzosForm.descripcion.$error', multiple)
                div(ng-message='md-maxlength')
                    | Máximo 200 Caracteres.

        md-input-container.md-block
            label Imagen
            input(name='imagen', type="file", file-model='almuerzo.imagenUpdate')

        md-button.md-raised.md-primary.width-all(ng-click="editarAlmuerzo()") Editar